*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	display: block;
	text-decoration: none;
}
html{
    width: 100%;
    height: auto;
}
body{
	width: 100%;
    height: auto;
	background: #fff;
	overflow-x: hidden;
}
header{
	width: 100%;
	height: 82px;
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 0 0 9px 9px;
	z-index: 3666;
	transition: all 1s;
	overflow: hidden;
}
.zhezhaol,.zhezhaor{
	width: calc((100% - 227px) / 2);
	height: 82px;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	top: 0;
	border-radius: 0 0 9px 9px;
}
.zhezhaol{
	left: 0;
}
.zhezhaor{
	right: 0;
}
.hmain{
	width: 1200px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.hmain li{
	line-height: 82px;
	float: left;
	padding: 0 48px;
}
.hmain li a{
	color: #35363B;
	position: relative;
}
.himg{
	width: 121px;
	height: 77px;
	margin: 0 auto;
}
.blue{
	width:100%;
	height:12px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.blue>img{
	display: block;
	width:100%;
	height:100%;
}
/* 头部结束，banner开始 */
.banner{
	width: 100%;
	height: 700px;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
.bannerm{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.clickright{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 90px;
	height: 90px;
	right: -38px;
	z-index: 3;
}
.clickleft{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 90px;
	height: 90px;
	left: -38px;
	z-index: 3;
}
.clickleft>img,.clickright>img{
	display: block;
	width:100%;
	height:100%;
}
.scroll{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.scroll li{
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0;
	left: 100%;
}
.scroll li:first-child{
	left: 0;
}
.scroll a{
	width: 100%;
	height: 100%;
	float: left;
}
.scroll a img{
	width: 100%;
	height: 100%;
}
/*banner结束*/
section{
	width: 1200px;
	height: auto;
	margin: -150px auto 0 ;
	border-top: 8px solid #000000;
	background: #fcfcfc;
	box-shadow: 0px 2px 20px 2px rgba(0, 0, 0,0.3);
    position: relative;
    z-index: 3100;
}
/* 页标 */
.navbar{
	width: 100%;
	height: 50px;
	padding-left: 94px;
	padding-bottom: 3px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;

}
.navbar li{
	height: 15px;
	font-size: 12px;
}
.navbar li a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.navbar li> a >p{
    font-size: 12px;
    color: #3e3e3e;
    margin-left: 6px;
    font-weight: 600;
}

.sty{
	width:30px; 
	height: 100%;
	/* background: red; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sty>p{
   font-size: 10px;
   color: #3e3e3e;
   font-weight: 600;
}
.sty>div{
	display: flex;
	justify-content: space-between;
}
.sty>div>span:first-of-type{
	width: 25px;
	height: 2px;
	background: #4b4b4b;
}
.sty>div>span:last-of-type{
	width: 2px;
	height: 2px;
	background: #4b4b4b;
}
.iconsty{
	width: 28px;
	height: 100%;
	text-align: center;
	padding-top:28px;
}
/* 头信息 */
.headTitle{
	width:auto;
	padding: 64px 0 28px 94px;
}
.xian{
	width: 1000px;
	height: 1px;
	background: #e2e2e2;
	margin-top: 27px;
	margin-left:191px;
}
.xian2{
	width: 1000px;
	height: 1px;
	background: #e2e2e2;
	margin:0 auto 46px;
}
/* 内容主体 */
main{
	width: 100%;
	padding: 0 240px 0 180px;
	height: auto;
}
/* find us */
main .service{
	width: 100%;
	height: 260px;
	padding: 45px 453px 0 0 ;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.service>li{
	width: 530px;
	height: auto;
}
.service li:first-of-type{
	font-size: 24px;
	color: #000000;
}
/* 地址 */
main .address{
	width: 100%;
	height: 557px;
	padding: 148px 0 153px 0;
	display: flex;
	justify-content: space-between;
}
.address>ul{
	float: left;
	width: 370px;

}
.address li{
	width:100%;
}
.address p{
	width: 57px;
	font-size: 14px;
	color:#cacaca;
	display: inline-block;
}
.address li:first-of-type{
    width: 370px;
	color:#000;
	font-size: 24px;
}
.address li:first-of-type > span{
    color: #9a9a9a;
    font-size: 30px;
    margin-left: 18px;
}
.address li:nth-of-type(2){
    width: 370px;
	color:#a5a5a5;
	margin: 17px 0 50px 0;
	font-size: 14px;
}
.address li:nth-of-type(3){
	margin-bottom: 8px;
}
.address li:nth-of-type(3)>span{
	font-size: 10px;
	color:#258ffd;
	margin-left: 20px;
}
.address li:nth-of-type(4){
	margin-bottom: 8px;
}
.address li:nth-of-type(4)>span{
	font-size: 10px;
	color:#258ffd;
	margin-left: 20px;
}
.address li:nth-of-type(5){
	margin-bottom: 8px;
}
.address li:nth-of-type(5)>span{
	font-size: 10px;
	color:#258ffd;
	margin-left: 20px;
}
.address li:nth-of-type(6)>span{
	font-size: 10px;
	color:#258ffd;
	margin-left: 20px;
}
.address>.img{
	display: block;
	width: 412px;
	height: 258px;
	/* background: yellow; */
}
/* 留言区 */
.liuyan{
	width: 100%;
	height: 520px;
/* 	background: lightgreen; */
	padding-left: 2px;
}
.liuyan div{
	width: 700px;
}
.liuyan div:first-of-type{
    font-size: 24px;
    height: 42px;
	line-height: 42px;
}
.liuyan div:nth-of-type(2){
    font-size: 30px;
    color: #9b9b9b;
    height: 42px;
	line-height: 42px;
}
input{
	height: 57px;
	border: 2px solid #eeeeee;
	padding-left: 26px;
}
.liuyan div:nth-of-type(3){
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0;
}
.liuyan div:nth-of-type(3)> input{
	width:337px;

}
.liuyan div:nth-of-type(4)>input{
    width: 100%;
    margin-bottom: 16px;
}
.liuyan div:nth-of-type(5)>input{
    width: 100%;
    height: 162px;
    margin-bottom: 29px;
}
button{
	outline: none;
	border: none;
	width: 118px;
	height: 34px;
	background: #2590ff;
	color: #fff;
	border-radius: 17px;
	cursor: pointer;
}
/* 图片定位 */
.images{
	width: 470px;
	height: 310px;
	background: url('../img/contact-1.png') no-repeat  center/cover;
	position: absolute;
	right: -134px;
	bottom: -74px;
	z-index: 2999;

}


/*底部*/

footer{
	width: 100%;
	height: 1203px;
	background: url('../img/foot.png') no-repeat center/cover;
	position: relative;
	margin-top:-400px;
}
.fmain{
	width: 1200px;
	height: 430px;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding-left: 62px;
	padding-right: 62px;
	/* background: yellow; */
}
.footerm{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.footerm li{
	height: 190px;
}
.footerm span{
	width: 1px;
	height: 68px;
	margin-top: 24px;
	background: white;
}
.type1{
	width: 128px;
	font-size: 14px;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 16px;
}
.type1 a{
	float: left;
	height: 14px;
	margin-bottom: 5px;

}
a{
	color: white;
}
.footerm li p{
	font-size: 20px;
	color: white;
}
.type2{
	width: 194px;
	font-size: 14px;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 16px;
}
.type3{
	width: 116px;
	font-size: 14px;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 16px;
}
.alone{
	float: left;
	height: 14px;
	margin-bottom: 5px;
}
.type4{
	width: 194px;
	height: 145px;
	background: blue;
	margin-top: 20px;
	display: block;
}
.type4 img{
	width: 100%;
	height: 100%;
}
.ma{
	width: 338px;
	height: 86px;
	margin-top: 16px;
}
.maimg{
	width: 86px;
	height: 86px;
	margin-right: 16px;
	float: left;
}
.share{
	width: 118px;
	height: 24px;
	float: left;
	margin-top: 14px;
	display: flex;
	justify-content: space-between;
}
.share a{
	width: 24px;
	height: 24px;
}
.foot-menu{
	width: 1076px;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	display: flex;
	float: left;
	justify-content: space-between;
	margin-top: 60px;
	margin-bottom: 34px;
}
.foot-menu a{
	color: #C7C7C6;
}
.last{
	width: 100%;
	height: 60px;
	background: black;
	float: left;
	font-size: 14px;
	line-height: 60px;
	color: #727272;
	text-align: center;
}