<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>旅游首页</title>
	<link rel="stylesheet" href="/visit/Public/css/home.css">
	<script src="/visit/Public/js/jquery-3.2.1.js"></script>
	<script src="/visit/Public/js/animate.js"></script>
	<script src="/visit/Public/js/head.js"></script>
	<script src="/visit/Public/js/home.js"></script>
</head>
<body>
	<!-- 头部开始 -->
	<header>
		<div class="zhezhaol"></div>
		<div class="zhezhaor"></div>
		<ul class="hmain">
		</ul>
	</header>
	<!-- 头部结束 -->

	<!-- banner开始 -->
	<div class="banner">
		<div class="bannerm">
			<div class="clickleft"><img src="/visit/Public/img/back.png" alt=""></div>
			<div class="clickright"><img src="/visit/Public/img/load.png" alt=""></div>
		</div>
		<ul class="scroll">
			<li><a href="/visit/index.php/tour" style="display: block;height: 100%"><img src="/visit/Public/img/road-220058_960_720.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/newslist" style="display: block;height: 100%"><img src="/visit/Public/img/pexels-photo-247478.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/about" style="display: block;height: 100%"><img src="/visit/Public/img/pexels-photo-234734.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/culture" style="display: block;height: 100%"><img src="/visit/Public/img/culture.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/contact" style="display: block;height: 100%"><img src="/visit/Public/img/travel.gif" alt=""></a></li>
		</ul>
	</div>
	<!-- banner结束 -->

	<!-- 开始主体部分 -->
	<div class="menu">
		<div class="maple">
			<div class="mapleimg">
				<img src="/visit/Public/img/maple.png" alt="">
			</div>
			<ul class="maplew">
				<li style="margin-left: 0;">最</li>
				<span>/</span>
				<li>新</li>
				<span>/</span>
				<li>动</li>
				<span>/</span>
				<li style="margin-right: 0;">态</li>
			</ul>
		</div>
	</div>
	<div class="main">

	</div>
	<div class="menu1">
		<div class="maple">
			<div class="mapleimg">
				<img src="/visit/Public/img/maple.png" alt="">
			</div>
			<ul class="maplew">
				<li style="margin-left: 0;">热</li>
				<span>/</span>
				<li>门</li>
				<span>/</span>
				<li>推</li>
				<span>/</span>
				<li style="margin-right: 0;">荐</li>
			</ul>
		</div>
	</div>
	<div class="main1">
	</div>
	<div class="menu1">
		<div class="maple">
			<div class="mapleimg">
				<img src="/visit/Public/img/maple.png" alt="">
			</div>
			<ul class="maplew">
				<li style="margin-left: 0;">团</li>
				<span>/</span>
				<li>队</li>
				<span>/</span>
				<li>介</li>
				<span>/</span>
				<li style="margin-right: 0;">绍</li>
			</ul>
		</div>
	</div>
	<!-- 主体部分结束 -->

	<!-- 开始团队 -->
	<div class="team">
		<div id="slide" class="slide index-slide" alt="star">
			<!-- 轮播图片数量可自行增减 -->
			<div class="img"><img src="/visit/Public/img/girl.png"/></div>
			<div class="img"><img src="/visit/Public/img/girl1.png"/></div>
			<div class="img"><img src="/visit/Public/img/man.png"/></div>

		</div>
		<div class="miaoshu">
			<div class="qm">
				<img src="/visit/Public/img/qianming.png" alt="">
			</div>
			<div class="name"></div>
			<div class="star">★&nbsp;★&nbsp;★&nbsp;★&nbsp;★</div>
			<div class="tword">专业设置、教学实习、学生就业等方面建立适应社会发
				展的复合型人才培养方案</div>
		</div>
		<div class="an">
			<div class="left" onclick="left()"></div>
			<div class="right"  onclick="right()"></div>
		</div>
		<!--<ul class="teamm">
			<li>
				<img src="/visit/Public/img/girl1.png" alt="">
			</li>
			<li>
				<img src="/visit/Public/img/girl.png" alt="">
			</li>
			<li>
				<img src="/visit/Public/img/man.png" alt="">
			</li>
			<div class="tleftclick"><img src="/visit/Public/img/back.png" alt=""></div>
			<div class="trightclick"><img src="/visit/Public/img/load.png" alt=""></div>
			<div class="qm">
				<img src="/visit/Public/img/qianming.png" alt="">
			</div>
			<div class="star">★&nbsp;★&nbsp;★&nbsp;★&nbsp;★</div>
			<div class="tword">专业设置、教学实习、学生就业等方面建立适应社会发
展的复合型人才培养方案</div>
		</ul>-->
	</div>
	<!-- 团队结束 -->

	<!-- 底部开始 -->
	<div class="menu1">
		<div class="maple">
			<div class="mapleimg1">
				<img src="/visit/Public/img/mp.png" alt="">
			</div>
		</div>
	</div>
	<footer>
		<a href="" class="getin">GET IN</a>
		<div class="fmain">
			<ul class="footerm">
				<li>
					<p>旅行产品</p>
					<ul class="type1">
						<a href="">国内机票</a>
						<a href="">国际机票</a>
						<a href="">酒店预订</a>
						<a href="">客栈公寓</a>
						<a href="">旅游度假</a>
						<a href="">景点门票</a>
					</ul>
				</li>
				<span></span>
				<li>
					<p>新手上路</p>
					<ul class="type2">
						<a href="">开通支付宝</a>
						<a href="">免费注册</a>
						<a href="">退票改签</a>
						<a href="">7*24小时在线帮助</a>
					</ul>
				</li>
				<span></span>
				<li>
					<p>商家服务</p>
					<ul class="type3">
						<a href="">商家入驻</a>
						<a href="">商家培训</a>
						<a href="">帮派互动</a>
						<a href="">规则中心</a>
						<a href="">规则意见征集</a>
						<a href="">商家在线客服</a>
					</ul>
					<a class="alone" href="">商家热线：0571-26883165</a>
				</li>
				<span></span>
				<li>
					<p>更多美景</p>
					<a href="" class="type4">
						<img src="/visit/Public/img/more1.png" alt="">
					</a>
				</li>
			</ul>
			<p style="font-size: 14px;color: white">你也可以扫一扫，获得更多优惠</p>
			<div class="ma">
				<div class="maimg">
					<img src="/visit/Public/img/ma1.png" alt="">
				</div>
				<div class="maimg">
					<img src="/visit/Public/img/ma2.png" alt="">
				</div>
				<p style="font-size: 14px;color: #E5E5E5">你也可以分享给朋友</p>
				<div class="share">
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
				</div>
				<div class="foot-menu">
					<a href="">关于我们</a>
					<a href="">|</a>
					<a href="">新闻动态</a>
					<a href="">|</a>
					<a href="">工作机会</a>
					<a href="">|</a>
					<a href="">商务合作</a>
					<a href="">|</a>
					<a href="">会员中心</a>
					<a href="">|</a>
					<a href="">常见问题</a>
					<a href="">|</a>
					<a href="">意见反馈</a>
					<a href="">|</a>
					<a href="">联系我们</a>
					<a href="">|</a>
					<a href="">营业执照</a>
				</div>
			</div>
		</div>
	</footer>
	<div class="last">地址：山西省太原市万柏林区西矿街53号 | 电话：0351-6014131 | E-mail:cjwlpt_tyut@qq.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京公网安备 11010802023942号</div>
</body>
<script>
    var autoLb = false;          //autoLb=true为开启自动轮播
    var autoLbtime = 1;         //autoLbtime为轮播间隔时间（单位秒）
    var touch = true;           //touch=true为开启触摸滑动
    var slideBt = true;         //slideBt=true为开启滚动按钮


    var slideNub;               //轮播图片数量

    //窗口大小改变时改变轮播图宽高
    $(window).resize(function(){
        $(".slide").height($(".slide").width()*0.56);
    });


    $(function(){
        $(".slide").height($(".slide").width()*0.56);
        slideNub =$('.slide').find('.img').length
//            slideNub = $(".slide .img").length;             //获取轮播图片数量
        for(i=0;i<slideNub;i++){
            $('.slide').find('.img').eq(i).attr("data-slide-imgId",i);
//                $(".slide .img:eq("+i+")").attr("data-slide-imgId",i);
        }


        //根据轮播图片数量设定图片位置对应的class
        if(slideNub==1){
            for(i=0;i<slideNub;i++){
                $('.slide').find('.img').eq(i).addClass('img3')
//                    $(".slide .img:eq("+i+")").addClass("img3");
            }
        }
        if(slideNub==2){
            for(i=0;i<slideNub;i++){
                $('.slide').find('.img').eq(i).addClass("img"+(i+3));
//                    $(".slide .img:eq("+i+")").addClass("img"+(i+3));
            }
        }
        if(slideNub==3){
            for(i=0;i<slideNub;i++){
                $('.slide').find('.img').eq(i).addClass("img"+(i+2));
//                    $(".slide .img:eq("+i+")").addClass("img"+(i+2));
            }
        }
        if(slideNub>3&&slideNub<6){
            for(i=0;i<slideNub;i++){
                console.log($('.slide').find('.img').eq(i))
                $('.slide').find('.img').eq(i).addClass("img"+(i+1));
//                    $(".slide .img:eq("+i+")").addClass("img"+(i+1));
            }
        }
        if(slideNub>=6){
            for(i=0;i<slideNub;i++){
                if(i<5){
                    $('.slide').find('.img').eq(i).addClass("img"+(i+1));
//                        $(".slide .img:eq("+i+")").addClass("img"+(i+1));
                }else{
                    $('.slide').find('.img').eq(i).addClass("img5");
//                        $(".slide .img:eq("+i+")").addClass("img5");
                }
            }
        }


        //自动轮播
        if(autoLb){
            setInterval(function(){
                right();
            }, autoLbtime*1000);
        }


        if(touch){
            k_touch();
        }
        slideLi();
        imgClickFy();
    })


    //右滑动
    function right(){
        var fy = new Array();
        for(i=0;i<slideNub;i++){
            fy[i]=$(".slide .img[data-slide-imgId="+i+"]").attr("class");
        }
        for(i=0;i<slideNub;i++){
            if(i==0){
                $(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[slideNub-1]);
            }else{
                $(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[i-1]);
            }
        }
        $.ajax({
            url:'/visit/index.php/home/team',
            dataType:'json',
            success:function (data) {
                renderItem(data)
            }
        })
        function renderItem(data) {
            let item = $('.slide').children()
            for(let i=0;i<item.length;i++){
                if(item[i].className=='img img3'){
                    let index = $(item[i]).attr('data-slide-imgId')
                    $('.miaoshu').empty();
                    $('.miaoshu').html(
                        `<div class="qm">
				<img src="${data[index]['qm']}" alt="">
			</div>
			<div class="name">${data[index]['title']}</div>
			<div class="star">${creatimg(data[index]['star'])}</div>
			<div class="tword">${data[index]['description']}</div>
                    `
                    )
                }
            }
        }
        function creatimg(data) {
            let str = '';
            for(let i =0;i<data;i++){
                str += `<img src="/visit/Public/img/star.png" alt="">`
            }
            return str;
        }
        imgClickFy();
        slideLi();
    }


    //左滑动
    function left(){
        var fy = new Array();
        for(i=0;i<slideNub;i++){
            fy[i]=$(".slide .img[data-slide-imgId="+i+"]").attr("class");
        }
        for(i=0;i<slideNub;i++){
            if(i==(slideNub-1)){
                $(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[0]);
            }else{
                $(".slide .img[data-slide-imgId="+i+"]").attr("class",fy[i+1]);
            }
        }
        imgClickFy();
        slideLi();
        $.ajax({
            url:'/visit/index.php/home/team',
            dataType:'json',
            success:function (data) {
                renderItem(data)
            }
        })
        function renderItem(data) {
            let item = $('.slide').children()
            for(let i=0;i<item.length;i++){
                if(item[i].className=='img img3'){
                    let index = $(item[i]).attr('data-slide-imgId')
                    $('.miaoshu').empty();
                    $('.miaoshu').html(
                        `<div class="qm">
				<img src="${data[index]['qm']}" alt="">
			</div>
			<div class="name">${data[index]['title']}</div>
			<div class="star">${creatimg(data[index]['star'])}</div>
			<div class="tword">${data[index]['description']}</div>
                    `
                    )
                }
            }
        }
        function creatimg(data) {
            let str = '';
            for(let i =0;i<data;i++){
                str += `<img src="/visit/Public/img/star.png" alt="">`
            }
            return str;
        }
    }


    //轮播图片左右图片点击翻页
    function imgClickFy(){
        $(".slide .img").removeAttr("onclick");
        $(".slide .img2").attr("onclick","left()");
        $(".slide .img4").attr("onclick","right()");
    }


    //修改当前最中间图片对应按钮选中状态
    function slideLi(){
        var slideList = parseInt($(".slide .img3").attr("data-slide-imgId")) + 1;
        $(".slide-bt span").removeClass("on");
        $(".slide-bt span[data-slide-bt="+slideList+"]").addClass("on");
    }


    //轮播按钮点击翻页
    function tz(id){
        var tzcs = id - (parseInt($(".slide .img3").attr("data-slide-imgId")) + 1);
        if(tzcs>0){
            for(i=0;i<tzcs;i++){
                setTimeout(function(){
                    right();
                },1);
            }
        }
        if(tzcs<0){
            tzcs=(-tzcs);
            for(i=0;i<tzcs;i++){
                setTimeout(function(){
                    left();
                },1);
            }
        }
        slideLi();
    }


    //触摸滑动模块
    function k_touch() {
        var _start = 0, _end = 0, _content = document.getElementById("slide");
        _content.addEventListener("touchstart", touchStart, false);
        _content.addEventListener("touchmove", touchMove, false);
        _content.addEventListener("touchend", touchEnd, false);
        function touchStart(event) {
            var touch = event.targetTouches[0];
            _start = touch.pageX;
        }
        function touchMove(event) {
            var touch = event.targetTouches[0];
            _end = (_start - touch.pageX);
        }

        function touchEnd(event) {
            if (_end < -100) {
                left();
                _end=0;
            }else if(_end > 100){
                right();
                _end=0;
            }
        }
    }

</script>
</html>