<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>旅游攻略</title>
	<link rel="stylesheet" href="/visit/Public/css/tour.css">
	<script src="/visit/Public/js/animate.js"></script>
	<script src="/visit/Public/js/head.js"></script>
	<script src="/visit/Public/js/jquery-3.2.1.js"></script>
	<script src="/visit/Public/js/tour.js"></script>
</head>
<body>
	<!-- 头部开始 -->
	<header>
		<div class="zhezhaol"></div>
		<div class="zhezhaor"></div>
		<ul class="hmain">

		</ul>
	</header>
	<!-- 头部结束 -->
	<!-- banner开始 -->
	<div class="banner">
		<div class="bannerm">
			<div class="clickleft"><img src="/visit/Public/img/back.png" alt=""></div>
			<div class="clickright"><img src="/visit/Public/img/load.png" alt=""></div>
		</div>
		<ul class="scroll">
			<li><a href="/visit/index.php/tour" style="display: block;height: 100%"><img src="/visit/Public/img/road-220058_960_720.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/newslist" style="display: block;height: 100%"><img src="/visit/Public/img/pexels-photo-247478.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/about" style="display: block;height: 100%"><img src="/visit/Public/img/pexels-photo-234734.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/culture" style="display: block;height: 100%"><img src="/visit/Public/img/culture.jpg" alt=""></a></li>
			<li><a href="/visit/index.php/contact" style="display: block;height: 100%"><img src="/visit/Public/img/travel.gif" alt=""></a></li>
		</ul>
	</div>
	<!-- banner结束 -->

	<!-- 开始主体内容 -->
	<main>
		<div class="shadow"></div>
		<ul class="navbar">
			<li>
				<a href="/visit/index.php/home">
					<div class="sty">
						<p>HOME</p>
						<div>
							<span></span>
							<span></span>
						</div>
					</div>
					<p>首页</p>
				</a>
			</li>
			<div class="iconsty" > > </div>
			<li>
				<a href="/visit/index.php/tour">
					<div class="sty"  style="width:48px">
						<p>GONGLUE</p>
						<div>
							<span style="width: 44px"></span>
							<span></span>
						</div>
					</div>
					<p>旅游攻略</p>
				</a>
			</li>
		</ul>
		<p class="mp1">
			<img src="/visit/Public/img/hot.png" alt="">
		</p>
		<ul class="details"></ul>
		<ul class="btns"></ul>

	<!--美食攻略-->
		<p class="mp2">
			<img src="/visit/Public/img/food.png" alt="">
		</p>

		<ul class="food"></ul>
		<ul class="btns1"></ul>

		<div class="scene">
			<img src="/visit/Public/img/scene.png" alt="">
		</div>
		<!--穷游攻略-->
		<p class="mp3">
			<img src="/visit/Public/img/poor.png" alt="">
		</p>
		<ul class="poor"></ul>
		<ul class="btns2"></ul>
	</main>
	<!-- 主体结束，开始底部 -->
	<footer style="margin-top: -367px;">
		<div class="fmain">
			<ul class="footerm">
				<li>
					<p>旅行产品</p>
					<ul class="type1">
						<a href="">国内机票</a>
						<a href="">国际机票</a>
						<a href="">酒店预订</a>
						<a href="">客栈公寓</a>
						<a href="">旅游度假</a>
						<a href="">景点门票</a>
					</ul>
				</li>
				<span></span>
				<li>
					<p>新手上路</p>
					<ul class="type2">
						<a href="">开通支付宝</a>
						<a href="">免费注册</a>
						<a href="">退票改签</a>
						<a href="">7*24小时在线帮助</a>
					</ul>
				</li>
				<span></span>
				<li>
					<p>商家服务</p>
					<ul class="type3">
						<a href="">商家入驻</a>
						<a href="">商家培训</a>
						<a href="">帮派互动</a>
						<a href="">规则中心</a>
						<a href="">规则意见征集</a>
						<a href="">商家在线客服</a>
					</ul>
					<a class="alone" href="">商家热线：0571-26883165</a>
				</li>
				<span></span>
				<li>
					<p>更多美景</p>
					<a href="" class="type4">
						<img src="/visit/Public/img/more1.png" alt="">
					</a>
				</li>
			</ul>
			<p style="font-size: 14px;color: white">你也可以扫一扫，获得更多优惠</p>
			<div class="ma">
				<div class="maimg">
					<img src="/visit/Public/img/ma1.png" alt="">
				</div>
				<div class="maimg">
					<img src="/visit/Public/img/ma2.png" alt="">
				</div>
				<p style="font-size: 14px;color: #E5E5E5">你也可以分享给朋友</p>
				<div class="share">
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
					<a href=""><img src="/visit/Public/img/logo1.png" alt=""></a>
				</div>
				<div class="foot-menu">
					<a href="">关于我们</a>
					<a href="">|</a>
					<a href="">新闻动态</a>
					<a href="">|</a>
					<a href="">工作机会</a>
					<a href="">|</a>
					<a href="">商务合作</a>
					<a href="">|</a>
					<a href="">会员中心</a>
					<a href="">|</a>
					<a href="">常见问题</a>
					<a href="">|</a>
					<a href="">意见反馈</a>
					<a href="">|</a>
					<a href="">联系我们</a>
					<a href="">|</a>
					<a href="">营业执照</a>
				</div>
			</div>
		</div>
	</footer>
	<div class="last">地址：山西省太原市万柏林区西矿街53号 | 电话：0351-6014131 | E-mail:cjwlpt_tyut@qq.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京公网安备 11010802023942号</div>
</body>
</html>